{% extends 'layout.html' %}

{% block content%}

  <section class="header">
      <h1>Michael Jones</h1>
      <p>My goal is to become a back-end software devloper.</p>
      <!--I would suggest choosing a different picture here.-->
      <!--Like maybe a hobby photo-->
      <img src="{{url_for('static', filename='profile_picture.JPG')}}" alt="Headshot of myself">
  </section>
  <section id="about-page">
      <div id="triangle7"></div>
      <div id="triangle8"></div>
      <h2>Section Title</h2>
      <p>
          My name is Michael Jones, I'm 31 years old and I'm hoping to be come a Software Developer.
          I currently work at Virgin Media as an Advertising Operations Manager and found that a lot
          of my work can be made easier through programming. Hopefulling with the use of Python, HTML,
          CSS, Flask and SQLAlchemy, I can create something that will help me and could lead to a career
          change.
      </p>
      <p>
          Other interests of mine are watching movies, gaming, playing football and going to the gym.
          I also enjoy going out with my friends and going on little mini adventures.
      </p>
      <a href="#"><i class="far fa-file"></i>Resume</a>
  </section>
{% endblock %}